<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EQ_Information</title>
    
</head>
<body>
   <h1>EQ INFORMATION SITE</h1>
   <h3>This is a list informational links to use when creating your character or when researching quests</h3>
   <p><u>BEST SOLO CLASSES:</u></p>
   <p><b>EASY</b></p>
   <p>Necromancer,
      Beastlord,
      Paladin,
      ShadowKnight,  
      Mage
   </p>
   <p><b>MEDIUM</b></p>
   <p>Ranger,
      Monk,
      Druid,
      Shaman,
      Bard,
      Enchanter
   </p>
   <p><b>HARD</b></p>
   <p>Rogue
      Warrior,
      Berserker,
      Wizard
   </p>
   <hr>
   <p><b>USEFUL LINKS</b></p>
   <img src="EQWebProject/EQ_Website/Images/EQ3.png"/> 
   <p><b>HOW TO GET STARTED</b></p>
   <p>1. You need to setup an Login and Server Login account on: <a href="http://www.eqemulator.org/forums/register.php/"target="_blank">Register EQEMU</a></p>
   <p>2. Once you are registered, you need to go log back into <a href="http://www.eqemulator.org/"target="_blank">EQEMU</a></p>
   <p>3. On the left navigation bar, under Accounts-Loginserver Accounts-select Create Account.</p>
   <p><b>CLASS INFORMATION</b></p>
   <p><a href="https://www.youtube.com/watch?v=xreFbddOxF4&ab_channel=IonBlaze"target="_blank">Information on Classes (Classic EQ)</a></p>

</body>
</html>