<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EQ_Information</title>
    
</head>
<body>
   <h1>EQ INFORMATION SITE</h1>
   <h3>This is a list informational links to use when creating your character or when researching quests</h3>
   <p><u>BEST SOLO CLASSES:</u></p>
   <p><b>EASY</b></p>
   <p>Necromancer,
      Beastlord,
      Paladin,
      ShadowKnight,  
      Mage
   </p>
   <p><b>MEDIUM</b></p>
   <p>Ranger,
      Monk,
      Druid,
      Shaman,
      Bard,
      Enchanter
   </p>
   <p><b>HARD</b></p>
   <p>Rogue
      Warrior,
      Berserker,
      Wizard
   </p>
   <hr>
   <p><b>USEFUL LINKS</b></p>
   <br>
   <img src="EQ3.png" alt="EQ PIC" />
   <p><a href="https://www.youtube.com/watch?v=xreFbddOxF4&ab_channel=IonBlaze"target="_blank">Information on Classes (Classic EQ)</a></p>

</body>
</html>