<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EQ_Information</title>
    
</head>
<body>
   <h1>EQ INFORMATION SITE</h1>
   <h3>This is a list informational links to use when creating your character or when researching quests</h3>
   <p><u>BEST SOLO CLASSES:</u></p>
   <p><b>EASY</b></p>
   <p>Necromancer,
      Beastlord,
      Paladin,
      ShadowKnight,  
      Mage
   </p>
   <p><b>MEDIUM</b></p>
   <p>Ranger,
      Monk,
      Druid,
      Shaman,
      Bard,
      Enchanter
   </p>
   <p><b>HARD</b></p>
   <p>Rogue
      Warrior,
      Berserker,
      Wizard
   </p>
   <hr>
   
   {% load static %}
   <img src="{% static 'EQ_Website/EQ3.png' %}" alt="My image">
   <p><b>HOW TO GET STARTED</b></p>
   <ol>
         <li>You need to setup a EQEMU Login and a Server Login account (see step 3) on EQEMU: <a href="http://www.eqemulator.org/forums/register.php/"target="_blank">Register EQEMU</a></li>
         <li>Once you are registered, you need to go log back into <a href="http://www.eqemulator.org/"target="_blank">EQEMU</a></li>
         <li>On the left navigation bar, under Accounts-Loginserver Accounts-select Create Account.</li>
         <li>You will need to dowload this <a href="https://drive.google.com/file/d/1mqFFuu8ZEuoFR1yoLD-Lv7Pdtqq0ha7t/view?usp=sharing/"target="_blank">Johns EQEMU </a>zip and copy the contents to the directory you put your games</li>
   </ol>
   <p><b>USEFUL LINKS</b></p>
   <p><u>CLASS INFORMATION</u></p>
   <p><a href="https://www.youtube.com/watch?v=xreFbddOxF4&ab_channel=IonBlaze"target="_blank">Information on Classes (Classic EQ)</a></p>

   <p><u>QUEST/SPELL/RECIPE INFORMATION</u></p>
   <p><a href="https://everquest.allakhazam.com/"target="_blank">EQ Database (Classic EQ)</a></p>

   <p><u>ITEMS/SPELL/FACTION/RECIPE INFORMATION</u></p>
   <p><a href="https://eqresource.com/"target="_blank">EQ Resource</a></p>
</body>
</html>

